@import "../../mixins";

.container {
    background-color: #eee;
    height: 100%;
}

.item {
    background-color: #fff;
    margin-bottom: 25px;
}

.item-title {
    font-size: 36px;
    color: #333;
    height: 90px;
    line-height: 90px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
}

.header {
    display: flex;
    flex-direction: row;
}

.header-logo {
    display: inline-block;
    height: 130px;
    width: 130px;
    padding: 20px;
    box-sizing: content-box;
}

.header-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-name {
    font-size: 36px;
    color: #333;
}

.header-intro {
    color: #999;
    font-size: 28px;
}

.header-tags {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.header-tag {
    background-color: #edf4ff;
    color: #2e7cdc;
    font-size: 30px;
    padding: 8px 10px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.intro-item {
    display: flex;
    flex-direction: row;
}

.intro-label {
    color: #ccc;
    font-size: 32px;
    padding: 20px;
}

.intro-content {
    padding: 20px;
    flex: 1;
}


